<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TwitOff - {{Title}}</title>
        <link rel="stylesheet" href='https:unpkg.com/picnic' />
    </head>

    <body>
        <nav>
            <a href="/" class="brand"><span>TwitOff!</span></a>

            <!-- responsive -->
            <input id="bmenub" type="checkbox" class="show">
            <label for="bmenub" class="Burger pseudo button">Menu</label>

            <div class="menu">
                <a href="/update" class="button warning">Update Tweets</a>
                <a href="/reset" class="button error">Reset Database</a>
            </div>
        </nav>
        <br>
        <br>
        <br>

        <article class="flex two" >
            {% block content %}
            <h2>Users</h2>
            {% for user in users %}
            <br>
            <a href="/user/{{ user.name }}"><span class="stack">{{ user.name }}</span></a>
            {% endfor %}
            {% endblock %}
        </article>

        <form action="/compare", methods="post">
            <select name="selected_user_1">
                {% for user in users %}
                <option value="{{ user.name }}">{{ user.name }}</option>
                {% endfor %}
            </select>

            <select name="selected_user_2">
                {% for user in users %}
                <option value="{{ user.name }}">{{ user.name }}</option>
                {% endfor %}
            </select>
            <input type= "text" name="tweet_text", placeholder="tweet text to classify">
            <input type="submit" value="Classify Tweet">


        </form>
        <!-- <script src=https://cdn.jsdelivr.net/npm/umbrellajs"/>-->
    </body>
</html>